[submodule ".vim/pack/native/start/molokai"]
	path = .vim/pack/native/start/molokai
	url = https://github.com/tomasr/molokai.git
	branch = master
[submodule ".vim/pack/native/start/syntastic"]
	path = .vim/pack/native/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
	branch = master
[submodule ".vim/pack/native/start/vim-airline"]
	path = .vim/pack/native/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
	branch = master
[submodule ".vim/pack/native/start/vim-airline-themes"]
	path = .vim/pack/native/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
	branch = master
